.start-screen{
    background: url('/assets/img/startbox.png');
    background-position: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%; /*damit Scroll-Balken berücksichtigt, was nicht bei width 100vw passiert*/
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 20vh;
        margin-top: 500px;
    }
}